spring:
#  profiles:
#    active: dev
  messages:
    basename: messages, errors
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: create
#      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
#        show_sql: true
        default_batch_fetch_size: 100
    open-in-view: false

server:
  servlet:
    session:
      tracking-modes: cookie

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.orm.jdbc.bind: trace